html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  text-decoration:none;
}

.container {
  min-width: 320px;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

section {
  margin: 1em 0;
}


.contacts {
  position: relative;
  display: inline-block;
}

.contacts dt {
  float: left;
  min-width: 9em;
}

.contacts dd {
  margin-bottom: 1.2em;
  overflow: hidden;
}

.contacts dd::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
}

.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 3px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

.photo:hover {
  border: 3px solid #FF0066;
}

.contacts dt:hover {
  color:#FF0066;
}